.App {
  max-width: 600px;
  margin: 30px auto;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
  text-align: center;
}

.main {
  font-size: 40px;
  font-weight: 100;
  margin: 20px 0 0 0;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 400;
}
